<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.just10">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity_muestrausuarios"></activity>
        <activity android:name=".activity_calificaciones" />
        <activity android:name=".activity_acti1_registro" />
        <activity android:name=".activity_acti1_menu" />
        <activity android:name=".activity_menu_ajustes" />
        <activity android:name=".activity_matematicas_eje7_3" />
        <activity android:name=".activity_matematicas_eje7_2" />
        <activity android:name=".activity_matematicas_eje7_1" />
        <activity android:name=".activity_matematicas_eje6_13" />
        <activity android:name=".activity_matematicas_eje6_12" />
        <activity android:name=".activity_matematicas_eje6_11" />
        <activity android:name=".activity_matematicas_eje6_10" />
        <activity android:name=".activity_matematicas_eje6_9" />
        <activity android:name=".activity_matematicas_eje6_8" />
        <activity android:name=".activity_matematicas_eje6_7" />
        <activity android:name=".activity_matematicas_eje6_6" />
        <activity android:name=".activity_matematicas_eje6_5" />
        <activity android:name=".activity_matematicas_eje6_4" />
        <activity android:name=".activity_matematicas_eje6_3" />
        <activity android:name=".activity_matematicas_eje6_2" />
        <activity android:name=".activity_matematicas_eje6_1" />
        <activity android:name=".activity_matematicas_eje7" />
        <activity android:name=".activity_matematicas_eje6" />
        <activity android:name=".activity_graficaProgreso" />
        <activity android:name=".activity_matematicas_ej3_36c" />
        <activity android:name=".activity_matematicas_ej1_8c" />
        <activity android:name=".activity_matematicas_ej5_2c" />
        <activity android:name=".activity_matematicas_ej3_8c" />
        <activity android:name=".activity_matematicas_ej3_5c" />
        <activity android:name=".activity_matematicas_ej3_32c" />
        <activity android:name=".activity_matematicas_ej3_30c" />
        <activity android:name=".activity_matematicas_ej3_26c" />
        <activity android:name=".activity_matematicas_ej3_24c" />
        <activity android:name=".activity_matematicas_ej3_19c" />
        <activity android:name=".activity_matematicas_ej3_18c" />
        <activity android:name=".activity_matematicas_ej3_15c" />
        <activity android:name=".activity_matematicas_ej3_12c" />
        <activity android:name=".activity_matematicas_ej2_9c" />
        <activity android:name=".activity_matematicas_ej2_6c" />
        <activity android:name=".activity_matematicas_ej5_8" />
        <activity android:name=".activity_matematicas_ej5_7" />
        <activity android:name=".activity_matematicas_ej5_6" />
        <activity android:name=".activity_matematicas_ej5_5" />
        <activity android:name=".activity_matematicas_ej5_4" />
        <activity android:name=".activity_matematicas_ej5_3" />
        <activity android:name=".activity_matematicas_ej5_1" />
        <activity android:name=".activity_matematicas_ej5" />
        <activity android:name=".acivity_matematicas_ej4_2" />
        <activity android:name=".activity_matematicas_ej4_1" />
        <activity android:name=".activity_matematicas_ej3_37" />
        <activity android:name=".activity_matematicas_ej3_35" />
        <activity android:name=".activity_matematicas_ej3_34" />
        <activity android:name=".activity_matematicas_ej3_33" />
        <activity android:name=".activity_matematicas_ej3_31" />
        <activity android:name=".activity_matematicas_ej3_29" />
        <activity android:name=".activity_matematicas_ej3_28" />
        <activity android:name=".activity_matematicas_ej3_27" />
        <activity android:name=".activity_matematicas_ej3_25" />
        <activity android:name=".activity_matematicas_ej3_23" />
        <activity android:name=".activity_matematicas_ej3_22" />
        <activity android:name=".activity_matematicas_ej3_21" />
        <activity android:name=".activity_matematicas_ej3_20" />
        <activity android:name=".activity_matematicas_ej3_17" />
        <activity android:name=".activity_matematicas_ej3_16" />
        <activity android:name=".activity_matematicas_ej3_14" />
        <activity android:name=".activity_matematicas_ej3_13" />
        <activity android:name=".activity_matematicas_ej3_11" />
        <activity android:name=".activity_matematicas_ej3_10" />
        <activity android:name=".activity_matematicas_ej3_9" />
        <activity android:name=".activity_matematicas_ej3_7" />
        <activity android:name=".activity_matematicas_ej3_6" />
        <activity android:name=".activity_matematicas_ej3_4" />
        <activity android:name=".activity_matematicas_ej3_3" />
        <activity android:name=".activity_matematicas_ej3_2" />
        <activity android:name=".activity_matematicas_ej3_1" />
        <activity android:name=".activity_matematicas_ej3" />
        <activity android:name=".activity_matematicas_ej2_8" />
        <activity android:name=".activity_matematicas_ej2_7" />
        <activity android:name=".activity_matematicas_ej2_5" />
        <activity android:name=".activity_matematicas_ej2_4" />
        <activity android:name=".activity_matematicas_ej2_3" />
        <activity android:name=".activity_matematicas_ej2_2" />
        <activity android:name=".activity_matematicas_ej2_1" />
        <activity android:name=".activity_matematicas_ej2" />
        <activity android:name=".activity_matematicas_ej1_10" />
        <activity android:name=".activity_matematicas_ej1_9" />
        <activity android:name=".activity_matematicas_ej1_7" />
        <activity android:name=".activity_matematicas_ej1_6" />
        <activity android:name=".activity_matematicas_ej1_5" />
        <activity android:name=".acivity_mateamticas_ej1_4" />
        <activity android:name=".activity_matematicas_ej1_3" />
        <activity android:name=".acivity_matematicas_ej1_2" />
        <activity android:name=".activity_matematicas_ej1_1" />
        <activity android:name=".activity_matematicas_ej1" />
        <activity android:name=".activity_matematicas" />
        <activity android:name=".Activity_recordatorios" />
        <activity android:name=".activity_acti_menu" />
        <activity android:name=".ActPantallaCarga" />
        <activity android:name=".ActiTemas" />
        <activity android:name=".Acti_Dinos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".NotificationService"
            android:enabled="true" />
    </application>

</manifest>